header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 48px;
}

header>img {
  width: 300px;
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

li {
  cursor: pointer;
  list-style-type: none;
}

li:hover {
  opacity: 0.8;
}

li>a {
  font-weight: bold;
  color: #3C9EA3;
  text-decoration: none;
}
