<h1>Update user</h1>
<mat-card appearance="outlined">
  <mat-card-header class="header-container">
    <mat-card-title>
      @if (user) {
      <span>{{ user.name }}</span>
      }
      @if (!user) {
      <span>Loading...</span>
      }
    </mat-card-title>
    <mat-card-subtitle>
      @if (user) {
      <span>{{ user.email }}</span>
      }
      @if (!user) {
      <span>Loading...</span>
      }
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="card-content">
    <form [formGroup]="userUpdateForm">
      <mat-form-field class="input-container">
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput />
      </mat-form-field>
      <mat-form-field class="input-container">
        <mat-label>Username</mat-label>
        <input formControlName="username" matInput />
      </mat-form-field>
      <mat-form-field class="input-container">
        <mat-label>Email</mat-label>
        <input formControlName="email" placeholder="example@gmail.com" matInput />
      </mat-form-field>
      <div class="button-container">
        <button (click)="handleUpdateUser($event)" mat-flat-button>
          Update
        </button>
        <button (click)="handleDeleteUser()" mat-flat-button color="warn">
          Delete
        </button>
      </div>
    </form>
    <mat-divider style="margin-bottom: 14px"></mat-divider>
    <div class="role-input">
      <form [formGroup]="enrollForm">
        <mat-form-field class="role-mat-form-field">
          <mat-label>Roles</mat-label>
          <mat-select formControlName="role">
            @for (role of roles; track role) {
            <mat-option [value]="role.role">{{ role.role }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Organization</mat-label>
          <input #orgInput type="text" placeholder="Select an organization..." aria-label="organization" matInput
            (input)="filterOrgs()" (focus)="filterOrgs()" formControlName="oid" [matAutocomplete]="auto" />
          <mat-autocomplete #auto="matAutocomplete">
            @for (org of filteredOrgs; track org.oid) {
            <mat-option [value]="org.oid">{{ org.name }}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
        <button (click)="handleEnrollUser()" mat-flat-button>
          Enroll user
        </button>
      </form>
    </div>
  </mat-card-content>
</mat-card>
