:host {
  display: block;
  width: 40%;
  margin: 32px auto;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
 /* TODO: Add some padding between header-card and the form  */
.header-container {
  margin-bottom: 14px;
}

.input-container {
  width: 100%;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}
