@if (!isLoading) {
  <mat-tab-group
    [(selectedIndex)]="selectedTab"
    mat-stretch-tabs="false"
    mat-align-tabs="center"
  >
    <mat-tab label="Organization details">
      <div class="tab-wrapper">
        <mat-card>
          <mat-card-header>
            <mat-card-title class="title-container">
              <span>{{ org.name }}</span>
              <mat-icon>corporate_fare</mat-icon>
            </mat-card-title>
            <mat-card-subtitle>
              <p>
                {{ org.cnpj }}
              </p>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores
            cum debitis vitae distinctio molestias sapiente natus soluta placeat
            quasi error repellat et cumque minus impedit, voluptates reiciendis
            iste laudantium. Illo!
          </mat-card-content>
          <mat-card-footer>
            <mat-card-actions>
              <a routerLink="/orgs" class="actions-container">
                <mat-icon>arrow_back</mat-icon>
                <span>Go back</span>
              </a>
            </mat-card-actions>
          </mat-card-footer>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Update organization">
      <h2>Update organization information</h2>
      <p>Fill in the necessary information.</p>
      <form [formGroup]="orgUpdateForm">
        <mat-form-field class="input-container">
          <mat-label>Name</mat-label>
          <input formControlName="name" matInput />
        </mat-form-field>
        <mat-form-field class="input-container">
          <mat-label>CNPJ</mat-label>
          <input formControlName="cnpj" matInput />
        </mat-form-field>
        <div class="button-container">
          <button (click)="handleUpdateOrg()" mat-flat-button>Update</button>
          <button (click)="handleDeleteOrg()" mat-flat-button color="warn">
            Delete
          </button>
        </div>
      </form>
    </mat-tab>
    <mat-tab label="Enroll to organization">
      <h2>Enroll</h2>
      <p>Enroll an user to an organization.</p>
      <form [formGroup]="enrollForm">
        <mat-form-field class="input-container">
          <mat-label>organization ID</mat-label>
          <input matInput [value]="org.oid" disabled />
        </mat-form-field>
        <mat-form-field class="input-container">
          <mat-label>User ID</mat-label>
          <input
            #userToEnrollInput
            type="text"
            required
            placeholder="Select an user..."
            aria-label="user"
            matInput
            (input)="filterUsersToEnroll()"
            (focus)="filterUsersToEnroll()"
            (blur)="onSelectUserToEnroll()"
            formControlName="uid"
            [matAutocomplete]="enrollUserAutocomplete"
          />
          <mat-autocomplete #enrollUserAutocomplete="matAutocomplete">
            @for (user of filteredUsersToEnroll; track user.uid) {
              <mat-option [value]="user.uid">{{ user.name }}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="input-container">
          <mat-label>Roles</mat-label>
          <mat-select formControlName="role">
            @for (role of rolesAvailables; track role) {
              <mat-option [value]="role">{{ role }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <button
          (click)="handleEnrollUser()"
          mat-flat-button
          [disabled]="validateEnrollFormFields()"
        >
          Enroll user
        </button>
      </form>
    </mat-tab>

    <mat-tab label="Unroll from organization" [disabled]="noUserEnrolled">
      <h2>Unroll</h2>
      <p>Unroll an user from an organization.</p>
      <form [formGroup]="unrollForm">
        <mat-form-field class="input-container">
          <mat-label>organization ID</mat-label>
          <input matInput [value]="org.oid" disabled />
        </mat-form-field>
        <mat-form-field class="input-container">
          <mat-label>User ID</mat-label>
          <input
            #userToUnrollInput
            type="text"
            required
            placeholder="Select an user..."
            aria-label="user"
            matInput
            (input)="filterUserstoUnroll()"
            (focus)="filterUserstoUnroll()"
            (blur)="onSelectUserToUnroll()"
            formControlName="uid"
            [matAutocomplete]="unrollUserAutocomplete"
          />
          <mat-autocomplete #unrollUserAutocomplete="matAutocomplete">
            @for (user of filteredUsersToUnroll; track user.uid) {
              <mat-option [value]="user.uid">{{ user.name }}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="input-container">
          <mat-label>Roles</mat-label>
          <mat-select #roleInput formControlName="role">
            @for (role of enrolledUserRoles; track role) {
              <mat-option [value]="role">{{ role }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <button
          (click)="handleUnrollUser()"
          mat-flat-button
          [disabled]="validateUnrollFormFields()"
        >
          Unroll user
        </button>
      </form>
    </mat-tab>
  </mat-tab-group>
} @else {
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
    <mat-tab label="Organization details">
      <div class="tab-wrapper">
        <mat-spinner></mat-spinner>
      </div>
    </mat-tab>
    <mat-tab label="Update organization" disabled> </mat-tab>
    <mat-tab label="Enroll to organization" disabled> </mat-tab>
    <mat-tab label="Unroll from organization" disabled> </mat-tab>
  </mat-tab-group>
}
